<header class="hlg-header">
    <div class="hlg-header__container">
        <div class="hlg-header__container__logo">
            <span>Haceme La Gauchada</span>
        </div>
        <div class="hlg-header__container__redirect">
            <nav class="hlg-header__nav-cont">
                <ul class="hlg-header__nav-cont__ul-cont">
                    <li class="hlg-header__container__redirect-button">
                        Inicio
                    </li>
                    <li class="hlg-header__container__redirect-button">
                        Perfil
                    </li>
                    <li class="hlg-header__container__redirect-button">
                       <button (click)="signOut()">Salir</button> 
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
