<div class="hlg-login">
    <div class="hlg-login__wrapper">
        <div class="hlg-login__wrapper__banner">
            <img src="" alt="">
        </div>
        <div class="hlg-login__wrapper__container">
            <h1>¡Haceme La Gauchada!</h1>
            <p></p>
            <div class="hlg-login__option-login-cont">
                <div class="hlg-login__option-login-cont__option">
                    <div class="hlg-login__text-cont">
                        <h4>Quiero trabajar</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Modi praesentium facilis soluta quibusdam reprehenderit, 
                        placeat eligendi esse dignissimos pariatur tenetur veniam 
                        explicabo distinctio, aliquam non facere. Illo temporibus culpa ut.</p>
                        <button (click)="loginWithGoogle('employee')">Iniciar sesión con Google</button>
                    </div>
                </div>
                <div class="hlg-login__option-login-cont__option">
                    <div class="hlg-login__text-cont">
                        <h4>Quiero dar trabajo</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Modi praesentium facilis soluta quibusdam reprehenderit, 
                        placeat eligendi esse dignissimos pariatur tenetur veniam 
                        explicabo distinctio, aliquam non facere. Illo temporibus culpa ut.</p>
                        <button (click)="loginWithGoogle('employer')">Iniciar sesión con Google</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>