<div class="hlg-home-employer">
    <div class="hlg-home-employer__wrapper">
        <div class="hlg-home-employer__wrapper__container">
            <div class="hlg-home-employer__title">
                <h1>¡Bienvenido, gracias por dar trabajo!</h1>
            </div>
            <div class="hlg-home-employer__content">
                <section class="hlg-home-employer__content__my-offers">
                    <div class="hlg-home-employer__offers-result">
                        <div class="hlg-home-employer__offers-filter-cont">
                            <input type="text" class="hlg-home-employer__offers-filter-cont__input-filter">
                        </div>
                        <div class="hlg-home-employer__offers-list">
                            <nav class="hlg-home-employer__offers-list--nav-cont">
                                <ul class="hlg-home-employer__offers-list--ul-cont">
                                    <li class="hlg-home-employer__offers-list--list-cont">Usted no ha creado ninguna oferta</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </section>
                <section class="hlg-home-employer__content__operate-offers-cont">
                    <div class="hlg-home-employer__operate-buttons">
                        <div class="hlg-home-employer__button-cont">
                            <button class="hlg-home-employer__button-cont__button">Crear Oferta</button>
                        </div>
                        <div class="hlg-home-employer__button-cont">
                            <button class="hlg-home-employer__button-cont__button">Editar Oferta</button>
                        </div>
                        <div class="hlg-home-employer__button-cont">
                            <button class="hlg-home-employer__button-cont__button">Eliminar Oferta</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>